doctype html
html
    head
        title Movie Search Page
        script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="/vendor/knockout/dist/knockout.js")
        script(type="text/javascript", src="/js/imdb.js")
    body
        form
            table
                tr
                    td From:
                    td
                        input(type="number", min="1900", max="2015", data-bind="value: fromYear")
                tr
                    td To:
                    td
                        input(type="number", min="1900", max="2015", data-bind="value: toYear")
                tr
                    td Genre:
                    td
                        select(data-bind="options: genres, value: genre")
                tr
                    td
                    td
                        input(type="submit", value="Search", data-bind="click: search")
            table
                thead
                    tr
                        th Title
                        th Year
                        th Imdb
                tbody(data-bind="foreach: movies")
                    tr
                        td(data-bind="text: title")
                        td(data-bind="text: year")
                        td(data-bind="text: genre")